ai_okruzenje/
FREYA_PLATFORM_2_0/

# Python cache
__pycache__/
*.pyc
src/ekstrahovano/CRVENI_DISK_VAULT/**/.venvs/
src/ekstrahovano/**/site-packages/
izlaz/
ai_okruzenje/
venv/
*.sqlite
*.tar

FREYA_GOLDEN_RECORD/ANDROID_CANONICAL_888/
FREYA_GOLDEN_RECORD/IPHONE_CANONICAL_888/
